    html,body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .container {
        width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        border: 1px solid #ccc;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      }

      h2 {
        text-align: center;
      }

      .form-group {
        margin-bottom: 15px;
      }
      .form-group label {
        display: block;
        margin-bottom: 5px;
      }

      .form-group input[type="text"],
      .form-group input[type="password"],
      .form-group input[type="email"],
      .form-group input[type="tel"] {
        width: 384px;
        padding: 7px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }

      .form-group button {
        width: 100%;
        padding: 10px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }

      .form-group button:hover {
        background-color: #45a049;
      }
      .register-link {
        text-align: center;
        margin-top: 10px;
      }