<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
  </head>
  <body>
    <div id="container">
      <header>
        <nav id="menbar"></nav>
      </header>
      <main>
        <aside id="left-panel"></aside>
        <aside id="right-panel">
          <canvas id="drawer" width="600" height="480"></canvas>
        </aside>
      </main>
      <footer id="statusbar">
        <span id="size-2d" class="info">画布大小(宽:0,高:0)</span>
        <span id="coordinate-2d" class="info">画布坐标(X:0,Y:0)</span>
      </footer>
    </div>
    <script type="module">
      import {} from "./js/main.js";
    </script>
    <script type="module">
      import {} from "./js/3ddraw.js";
    </script>
    <script></script>
  </body>
</html>
