<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
  </head>
  <body>
    <div id="container">
      <header>
        <nav id="menbar">
          <script type="module">
            import {} from "./js/main.js";
          </script>
        </nav>
      </header>
      <main>
        <aside id="left-panel"></aside>
        <aside id="right-panel">
          <canvas id="drawer" width="800" height="500"></canvas>
        </aside>
      </main>
      <footer></footer>
    </div>

    <script type="module">
      import {} from "./js/3ddraw.js";
    </script>
  </body>
</html>
